
button {
    height: 35px;
    background-color: aqua;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border: 3px solid aqua;
    cursor: pointer;
}
.speedText{
    color: white;
}
.backGround{
    background-color: rebeccapurple;
}