
.tooltip {
    position: relative;
    display: inline-block;
  }
  .index {
    margin-bottom: 10px;
}
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(250, 250, 250);
    color: rgb(33, 30, 30);
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* Index page */

